body {
    background-color:#ffea00;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Heading */

h1 {
    margin-top: 20px;
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
}

/* Score */

#score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
}