body {
    background-color:#ffea00;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Heading */

h1 {
    margin-top: 20px;
    font-size: 100px;
    font-family: 'Amatic SC', cursive;
}

/* Score */

#score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
}

/* Status Message */

#status {
    margin-top: 60px;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
}

/* Play Again */

#play-again {
    margin-top: 5px;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    text-decoration: underline;
    text-decoration-thickness: 0.5%;
}

#play-again:hover {
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

/* Choices */

#choices {
    display: flex;
    justify-content: center;
    width: 95vw;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
}

#player-status{
    margin-right: 40vw;
}

mark.red {
    color:#ff0000;
    background: none;
    font-size: 50px;
}

/* Signs */

#signs {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    margin-top: 100px;
}

figure {
    margin: 0 20px 0 20px;
}

figure img {
    width: 100%;
    height: auto;
}

figure img:hover {
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

figure figcaption {
    text-align: center;
    font-size: 42px;
    font-family: 'Amatic SC', cursive;
}